 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
           
    }

    :root {
    --bg: #0c0f0f;
    --text: #dceff3;
    --accent: #388999;     /* terracotta / corallo */
    --accent-soft: #388999a1;
    --accent-softer: #3889992b;
    --accent-soft-2: #b7532f4a; /* variante più chiara */
    --accent-soft-3: #8938994d; /* variante più chiara */
    --accent-soft1 :#F2C94C;
    --accent-soft2: #56CCF2;
    --accent-soft3: #6FCF97;
    --card-bg: #ffffff;
    --gap:2rem;
    --max-width: 1100px;
    --font-family: 'Montserrat', sans-serif;

}

    body {
     background: var(--bg);
     font-family: var(--font-family);
     color: #ffffff;
    }

    img {
        max-width: 100%;
        display: block;
        }

    p {
         text-align: justify;
           text-justify: distribute;

    }
    

    /* Navbar */
    .navbar {
      width: 100%;
      height: 60px;
      background: rgba(255, 255, 255, 0.504);
      backdrop-filter: blur(10px);
      display: flex;
      align-items: center;
      padding: 0 40px;
      position: fixed;
      top: 0;
      left: 0;
    }

    .navbar h1 {
      font-size: 18px;
      letter-spacing: 2px;
    }

    /* Header */
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        background: rgb(30, 57, 64);
        z-index: 1000;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
    }

    .nav-menu {
        display: flex;
        gap: 2rem;
    }


    .nav-toggle {
        display: none;
        background: none;
        border: none;
        font-size: 1.6rem;
        cursor: pointer;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.2rem;
        padding:2px 10px;
    }

    .logo img {
        height: 50px;
        width: auto;
        display: block;
    }

    nav a {
        margin-left: 1.5rem;
        text-decoration: none;
        color: var(--text);
        font-weight: 500;
    }

    nav a:hover {
        color: var(--accent);
    }

    .color-scheme {
      background: var(--bg);
      color: var(--text);
    }

    .lang-switch {
        display: flex;
        gap: 10px;
        font-size: 14px;
        cursor: pointer;
    }

    .lang {
        opacity: 0.5;
        transition: 0.3s;
    }

    .lang.active {
        opacity: 1;
        font-weight: 600;
    }

    .lang:hover {
        opacity: 1;
    }

    /* Home Section */
    .home {
      /*background-image: url("immagini/signed.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;*/
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 60px;
    }


    .title {
      font-size: 70px;
      text-align: center;
      margin-bottom: 40px;
      letter-spacing: 4px;
      text-transform: uppercase;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      width: 80%;
      max-width: 1200px;
    }

    .text {
      width: 25%;
    }

    .text h2 {
      font-size: 22px;
      font-weight: 300;
      line-height: 1.4;
    }

    .image {
      width: 20%;
      display: flex;
      justify-content: center;
      opacity: 0.9;
    }

    .image img {
      width: 100%;
      max-width: 200px;
      border-radius: 10px;
    }

    /* Layout */
    .section {
    padding: 5rem 1.5rem;
    margin: auto;
    max-width: 1200px;
    
    }

    .section h2{
    text-align: center;
    margin-bottom: 1rem;
      font-size: clamp(28px, 4vw, 36px);
  margin-bottom: 20px;
    }

  /* ABOUT */
.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 80px 20px;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.about-image {
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
}

.about-image video {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
}

.about-text h2 {
  font-size: clamp(28px, 4vw, 36px);
  margin-bottom: 20px;
}

.about-text p, .container p {
  font-size: clamp(16px, 2vw, 18px);
  line-height: 1.6;
  margin-bottom: 15px;

}




.container {
  max-width: var(--max-width);
  margin: 0 auto;
    
}


.container-context{
   max-width: 1100px;
   margin: 0 auto; 
   line-height:1.7;

}


.container-results {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 3rem;
    
}


.container-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--gap);
  margin-top: 3rem;
}


/* Projects */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--gap);
  margin-top: 3rem;
}

.grid video{
  width: 100%;
  border-radius: 12px;
  margin: auto;
  vertical-align: middle;
  box-shadow: 0 3px 10px rgba(0,0,0,0.06);

}

.grid p{
  font-size: clamp(12px, 2vw, 14px);
  line-height: 1.6;
  margin-bottom: 15px;
  color: #ccc;
}


.project-card {
  overflow: hidden;
 border-top-right-radius: 20px;
  border-top-left-radius: 20px;
 
}
/*
.project-card:hover {
  transform: translateY(-6px);
}
*/
.project-card a {
  text-decoration: none;
  color: inherit;
}

.project-card img {
  transition: transform 0.6s ease;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-card a {
  text-decoration: none;
  color: inherit;
}

.project-card h3 {
  margin-top: 1rem;
}


/* Visual */


.visual-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 3rem;
}

.visual-grid img {
  transform: rotate(-1deg);
  transition: transform 0.2s ease;
}

.visual-grid img:nth-child(even) {
  transform: rotate(1.5deg);
}

.visual-grid img:hover {
  transform: rotate(0deg) scale(1.03);
}



/* ANIMAZIONI BASE */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

/* VARIANTI */
.reveal-left {
  transform: translateX(-80px);
}

.reveal-right {
  transform: translateX(80px);
}

.reveal.show.reveal-left,
.reveal.show.reveal-right {
  transform: translateX(0);
}

/* PARALLAX IMAGE */
.parallax img {
  transform: scale(1.1);
  transition: transform 1.5s ease;
}

.parallax.show img {
  transform: scale(1);
}



/* UX BLOCKS */
.ux-blocks {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.2rem;
}


.ux-block {
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;
  padding: 1.2rem 1.4rem;
  border-radius: 16px;
  background: var(--accent-softer);
}

.ux-block h4 {
  text-transform: uppercase;
}
.ux-icon {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--accent);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.ux-block h4 {
  margin-bottom: 0.3rem;
  color: var(--accent);
}

.ux-block p {
  margin: 0;
  font-size: 0.95rem;
  max-width: 520px;
}
.ux-block strong {
  color: var(--accent);
}

/*steps*/
/* PROCESS CARDS */
.process-cards {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 40px;
}

/* CARD BASE */
.process-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

/* TESTO */
.process-card-text h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.process-card-text p {
  line-height: 1.7;
  margin-bottom: 15px;
  font-size: 17px;
}

/* MEDIA */
.process-card-media video {
  width: 100%;
  border-radius: 12px;
  display: block;
  transform: scale(1);
  transition: 0.6s ease;
}

.process-card:hover video {
  transform: scale(1.03);
}

/* ALTERNANZA */
.process-card.reverse {
  direction: rtl;
}

.process-card.reverse .process-card-text,
.process-card.reverse .process-card-media {
  direction: ltr;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .process-card {
    grid-template-columns: 1fr;
  }

  .process-card.reverse {
    direction: ltr;
  }
}

/*results*/
.container-results {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 3rem;
    
}


.container-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--gap);
  margin-top: 3rem;
}


/*Contacts*/

/* CONTACT */
.contact {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  text-align: center;
  background: #0f0f0f;
}

.contact-container {
  max-width: 600px;
}

/* TITLE */
.contact h2 {
  font-size: clamp(32px, 5vw, 48px);
  margin-bottom: 20px;
}

/* TEXT */
.contact p {
  color: #aaa;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}

/* BUTTONS */
.contact-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* BASE BUTTON */
.contact-btn {
  padding: 14px 28px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  background: var(--accent);
  color: white;
}

/* OUTLINE BUTTON */
.contact-btn.outline {
  background: transparent;
  border: 1px solid #333;
  color: #ccc;
}

/* HOVER */
.contact-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.contact-btn.outline:hover {
  border-color: white;
  color: white;
}

/* Footer */
.footer {
  
  text-align: center;
  padding: 2rem;
  background: linear-gradient(
    135deg,
    var(--accent),
   var(--accent-softer)
  );  color: white;
}



/* TABLET */
@media (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

/* MOBILE */
@media (max-width: 500px) {
  .navbar {
    padding: 0 15px;
  }

  .title {
    margin-bottom: 20px;
  }

  .content {
    gap: 20px;
  }

  .about {
    padding: 60px 15px;
  }
}

    /* Responsive */
@media (max-width: 768px) {
   
    .content {
        flex-direction: column;
        text-align: center;
    }
   .text, .image {
            width: 100%;
   }

    .title {
        font-size: 42px;
    }

    .nav {
        flex-direction: row;
        padding: 1rem 0.5rem;
   }

    .nav-toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 20;
        color: var(--text);
    }

    .nav-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 2rem 0;
        display: none;
        border-bottom: 1px solid #eee;
    }

    .nav-menu.active {
        display: flex;
    }
    .nav.active {
        display: flex;
        background-color: #444;
    }
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;          
    }        
   .hero h1 {
        font-size: 2.2rem;
    }
}



    